Password eye icon start

.toggle11 {
  background: none;
  border: none;
  /* color: #337ab7; */
  font-weight: 600;
  position: absolute;
  right: 1em;
  top: 1.8em;
  z-index: 9;
  font-size: 20px;
}
.toggle12 {
  background: none;
  border: none;
  font-weight: 600;
  position: absolute;
  right: 1.3em;
  top: .2em;
  z-index: 9;
  font-size: 20px;
}
.passwordgroup{
  position: relative;
}

/* Password eye icon end */

.fullscreen{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.fullscreen main{
  flex-grow: 1;
}

 .fullscreen2{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}
.fullscreen2 main{
  flex-grow: 1;
}

/* .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  width: 330px;
  text-align: center;
} */

/* @media all and (max-width: 767px) and (orientation: portrait) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
  }
}
@media all and (max-width: 767px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }
} */



.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
  gap: 20px; /* Adjust the space between the cards */
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.custom-card {
  width: 100%; /* Ensures card takes full width of the column */
  max-width: 300px; /* Optional: To cap the width */
  height: 350px; /* Force a fixed height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-sizing: border-box; /* Include padding and border in height/width */
}

.custom-card h4, .custom-card p {
  margin: 0;
  padding: 10px;
  flex-shrink: 0;
}

.custom-card p {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}




/* Responsive design */
@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row on tablets */
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* 1 card per row on mobile devices */
  }
}
